{erl_opts, [
   %native, {hipe, o3},
   {parse_transform, lager_transform}
]}.
{sub_dirs, [
    "examples/echo"
]}.

{lib_dirs, ["deps"]}.
{cover_enabled, true}.

{deps, [
   % logging fw
   {lager, ".*",
      {git, "https://github.com/basho/lager", {tag, '1.2.2'}}
   }

  ,{feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }
  
  ,{pns, ".*",
      {git, "https://github.com/fogfish/pns", {branch, master}}
   }
     
  ,{knet, ".*",
      {git, "git.cloud:/mnt/vol1/git/knet.git", {branch, 'knet-ng'}}
   }

  % javascript parser
  ,{jsx, ".*",
      {git, "https://github.com/talentdeficit/jsx", {branch, master}}
   }
  
   % javascript parser
  ,{drift, ".*",
      {git, "https://github.com/fogfish/drift", {branch, master}}
   }
]}.

