{erl_opts, [
%   native, {hipe, o3},
   {parse_transform, lager_transform},
%   warnings_as_errors,
   warn_export_vars,
   warn_shadow_vars,
   warn_obsolete_guard
]}.
{sub_dirs, [
    "examples/echo"
]}.

{lib_dirs, ["deps"]}.
{cover_enabled, true}.

{deps, [
   {lager, ".*",
      {git, "https://github.com/basho/lager", {branch, master}}
   }

  ,{knet, ".*",
      %{git, "https://github.com/kfsm/knet.git", {branch, master}}
      {git, "https://github.com/fogfish/knet.git", {branch, master}}
   }

  ,{hornlog, ".*",
      {git, "https://github.com/fogfish/hornlog.git", {branch, master}}
   }

  ,{jsx, ".*",
      {git, "https://github.com/talentdeficit/jsx", {branch, master}}
   }
]}.

