{erl_opts, [
   {parse_transform, lager_transform},
   warnings_as_errors,
   warn_export_vars,
   warn_shadow_vars,
   warn_obsolete_guard

%   ,{d, 'CONFIG_DEBUG', true}
]}.
{sub_dirs, [
    "examples/echo"
]}.

{lib_dirs, ["deps"]}.
{cover_enabled, true}.

{deps, [
   {lager, ".*",
      {git, "https://github.com/basho/lager", {branch, master}}
   }

  ,{knet, ".*",
      {git, "https://github.com/kfsm/knet.git", {branch, master}}
   }

  ,{jsx, ".*",
      {git, "https://github.com/talentdeficit/jsx", {branch, master}}
   }
]}.

