[

{restd, [
	{default, [
		{uri,  "http://*:8080"},
		{pool, 10},
		{mod,  [
			echo_api_root
		  ,echo_api_ip
		  ,echo_api_user_agent
		  ,echo_api_headers
		  ,echo_api_get
		  ,echo_api_post
		 %,echo_api_put
		 %,echo_api_patch
		 %,echo_api_delete
		 %,echo_api_gzip
		  ,echo_api_status
		  ,echo_api_response_headers
		  ,echo_api_redirect
		  ,echo_api_redirect_to
		  ,echo_api_cookies
		 ]}
	]}
]}

].
