[

%% @todo: htdoc configurable
{restd, [
	{default, [
		{port, "http://*:8888"},
		{pool, 10},
		{route,  [
         %% static files
         {"/",             restd_api_webapp, [{htdoc, echo}]}
        ,{"/static1/_",    restd_api_webapp, [{htdoc, echo}]}
        ,{"/_/_",          restd_api_webapp, [{htdoc, echo}]}

         %% rest api
        ,{"/ip",           echo_api_ip}
        ,{"/user-agent",   echo_api_user_agent}
        ,{"/headers",      echo_api_headers}
        ,{"/env/:name",    echo_api_env, [{app, echo}, {n, 25}]}
        ,{"/get",          echo_api_get}
        ,{"/post",         echo_api_post}
       %,echo_api_put
       %,echo_api_patch
       %,echo_api_delete
       %,echo_api_gzip
        ,{"/status/:code", echo_api_status}
        ,{"/response-headers",echo_api_response_headers}
        ,{"/redirect/:n",  echo_api_redirect}
        ,{"/redirect-to",  echo_api_redirect_to}
        ,{"/cookies", echo_api_cookies}
        ,{"/cookies/:action", echo_api_cookies}
        ,{"/null/:x",       echo_api_null}
        ,{"/ws",            echo_api_ws}

         %%
        ,{"/:file",         restd_api_webapp, [{htdoc, echo}]}
      ]}
   ]}
]}

].
